body {
    margin: 0;
}

p{
    background-color: rgb(142, 88, 88);
    /* border: 2px solid black;
    padding: 20px;
    margin: 10px 0px 10px 0px; */ 
    width: 200px;
    height: 200px;
    margin-left: 20px;
    border: 5px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;

}
