* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle at top, #8b0000, #000);
    color: white;
}

/* HEADER */
.header {
    padding: 20px 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
    color: #e50914;
    font-size: 32px;
    font-weight: bold;
}

/* CONTENIDO */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.content {
    width: 400px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.subtitle {
    color: #ccc;
    margin-bottom: 20px;
}

/* INPUT */
input {
    width: 100%;
    padding: 16px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #444;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

/* BOTÓN */
button {
    width: 100%;
    padding: 14px;
    background: #e50914;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #f6121d;
}

/* HELP DROPDOWN */
.help {
    margin-top: 20px;
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
    user-select: none;
}

.dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown a {
    display: block;
    margin-top: 10px;
    color: #bbb;
    text-decoration: none;
    font-size: 13px;
}

.dropdown a:hover {
    text-decoration: underline;
}

/* activo */
.dropdown.active {
    max-height: 100px;
}

.small {
    margin-top: 25px;
    font-size: 12px;
    color: #8c8c8c;
}