*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(42, 40, 40);
}

h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 20px 0 0 0;
    border: 1px;
}

h1:hover{
    color: cyan;
    transform: scale(1.2);
}

.container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 2rem 1rem;
    justify-content: center;
}

.img{
    background-color: rgb(27,20,19)
    width: 200px;
    height: 200px;
    border: solid 2px cyan;
    overflow: hidden;
    border-radius: 10%  0 ;
}

.img:hover{
    box-shadow: 0 0 30px cyan;
    filter: grayscale(0);
    transform: rotate(-6deg);
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: grayscale(1);
}

 img:hover{
    transform: scale(1.2);
    filter: opacity(1);
    transition: .4s;
 }

 .img2:hover{
    transform: rotate(6deg);
 }

  .img4:hover{
    transform: rotate(6deg);
 }

   .img6:hover{
    transform: rotate(6deg);
 }